.loading {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  padding: 14px 47px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin: 10px;
  box-shadow: 5px 5px 5px 0px rgba(117, 117, 117, 0.3);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
